<mat-sidenav-container [class.example-is-mobile]="mobileQuery.matches" class="example-container" autosize >
  <mat-sidenav #sidenav cdkScrollable shadow class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true" >
      <mat-form-field style="margin:5px;">
        <input matInput [(ngModel)]="filterName" placeholder="Filter names" autocomplete="off">
        <button mat-button *ngIf="filterName" matSuffix mat-icon-button (click)="filterName=''"><mat-icon>close</mat-icon></button>
      </mat-form-field>
    <mat-nav-list cdkScrollable>

      <div  *ngFor="let e of entities | async">
        <div *ngIf="filterEntityList(e)">
          <app-entity-mini  routerLink='/campaign/{{campaignId}}/{{e.id}}' [entity]='e'></app-entity-mini>
          <mat-divider></mat-divider>
        </div>
      </div>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable class="example-content">
  <mat-card *ngIf="creatingEntity" class="example-card">
    <mat-card-header><mat-card-title><h2>New Entity</h2></mat-card-title></mat-card-header>
    <form [formGroup]="entityForm" (ngSubmit)="onFormSubmit()" class="multiline-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Sample McSample" autocomplete='off'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Subtitle</mat-label>
      <input formControlName="subtitle" matInput placeholder="King of Sampledom" autocomplete='off'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" placeholder="Entity type">
        <mat-option  *ngFor="let type of types" [value]="type" >{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Description" autocomplete='off'></textarea>
    </mat-form-field>
    <button [disabled]="entityForm.status !== 'VALID'"  mat-raised-button color="accent" >Submit</button>
  </form>
  </mat-card>

  <app-entity *ngIf='entity && !creatingEntity' [entity]='entity'></app-entity>

  <button (click)="creatingEntity=!creatingEntity" class="floating-fab" mat-fab>
    <mat-icon *ngIf="!creatingEntity">add</mat-icon>
    <mat-icon *ngIf="creatingEntity">close</mat-icon>
  </button>
</mat-sidenav-content>
</mat-sidenav-container>
