.example-container {
  position:absolute;
  top:64px;
  min-height:100%;
  height: auto! important;
  margin:0;
  padding:10px;
  width:100%;

}

.example-content{
  height:100%;
  overflow:auto;
  height: auto! important;
}


.multiline-form{
  display:flex;
  flex-direction:column;
}
.multiline-form > * {
  width:100%
}

.example-card {
  margin:1vh;
}


.example-sidenav{
  z-index: 2;
  position:fixed;
  top:64px;
  bottom:0;
  left:0;
  padding:0;
  min-width:260px;
  max-width:260px;
}

.floating-fab{
  position: fixed;
  bottom:50px;
  right:50px;
}
