<mat-card class="example-card">
<mat-card-header>
  <mat-card-title>
    <h2 *ngIf="!editingName" (click)="clickEditName()">{{entity.name}}</h2>
    <ng-container *ngIf="editingName">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="entity.name" (keyup.enter)="clickDoneName()">
      </mat-form-field>
      <button mat-button (click)="clickDoneName()">
        <mat-icon >check</mat-icon>
      </button>
    </ng-container>

    </mat-card-title>
  <mat-card-subtitle>
    <div *ngIf="!editingSubtitle" (click)="clickEditSubtitle()">{{entity.subtitle}}</div>
    <div *ngIf="!editingSubtitle && !entity.subtitle" (click)="clickEditSubtitle()">click to add subtitle</div>
    <ng-container *ngIf="editingSubtitle">
      <mat-form-field>
        <mat-label>Subtitle</mat-label>
        <input matInput [(ngModel)]="entity.subtitle" (keyup.enter)="clickDoneSubtitle()">
      </mat-form-field>
      <button mat-button (click)="clickDoneSubtitle()">
        <mat-icon >check</mat-icon>
      </button>
    </ng-container>
    </mat-card-subtitle>

</mat-card-header>
<mat-card-content>
  <mat-chip-list><mat-chip>{{entity.type}}</mat-chip></mat-chip-list>
  <p *ngIf="!editingDesc" (click)="clickEditDesc()">Description: {{entity.description}}</p>
  <ng-container *ngIf="editingDesc">
    <form (ngSubmit)="clickDoneDesc()">
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea  name="description" matInput [(ngModel)]="entity.description"></textarea>
    </mat-form-field>
    <button mat-button (click)="clickDoneDesc()">
      <mat-icon >check</mat-icon>
    </button>
  </form>
  </ng-container>

  <h4>Relationships
    <button *ngIf="!addingRelationship" mat-icon-button (click)="addingRelationship=true"><mat-icon>add</mat-icon></button>
    <button *ngIf="addingRelationship" mat-icon-button color="default" (click)="closeCreateRelationship()"><mat-icon>clear</mat-icon></button>
  </h4>

    <form *ngIf="addingRelationship">
      {{entity.name}}
      <mat-form-field>
        <mat-label>Relationship</mat-label>
        <input  matInput [matAutocomplete]="auto2" [formControl]="relationshipCtrl">
          <button mat-button *ngIf="relationshipCtrl.value" matSuffix mat-icon-button (click)="relationshipCtrl.reset()"><mat-icon>close</mat-icon></button>
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let r of filteredRelationships | async" [value]="r">
            {{r}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <mat-form-field>
      <mat-label>Other</mat-label>
      <input  matInput [matAutocomplete]="auto" [formControl]="entityCtrl">
      <button mat-button *ngIf="entityCtrl.value" matSuffix mat-icon-button (click)="entityCtrl.reset();relationshipEntity=null"><mat-icon>close</mat-icon></button>
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let e of filteredEntities | async" [value]="e.name" (onSelectionChange)=changedRelationshipEntity(e)>
          {{e.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button [disabled]="!(relationshipEntity && relationshipCtrl.value)"mat-icon-button (click)="createRelationship()">
      <mat-icon >check</mat-icon>
    </button>
  </form>
  <mat-list>
    <mat-list-item dense *ngFor="let rel of relationshipsOut">
      <app-relationship [entity]='entity'  [relationship]='rel'></app-relationship>
    </mat-list-item>
    <mat-list-item dense *ngFor="let rel of relationshipsIn">
      <app-relationship [entity]='entity'  [relationship]='rel'></app-relationship>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<mat-card-actions>
    <button (click)="togglePin()" mat-icon-button><mat-icon *ngIf="entity.pin">star</mat-icon><mat-icon *ngIf="!entity.pin">star_border</mat-icon></button>
  <button (click)="deleteEntity()" mat-raised-button color='warn'>DELETE</button>
</mat-card-actions>
</mat-card>
