.example-full-width {
  width: 100%;
}
.example-card {
  margin:1vh;
}

div.mat-card-header-text {
  margin:0px;
}
.add-relationship-card {
  height:200px;
  width:80px;
  cursor:pointer;
}

.new-relationship-card {
  height:120px;
}

.edit-hover-class{
}
.edit-hover-class a{
  visibility: hidden;
}
.edit-hover-class:hover a{
  visibility: visible;
}
.edit-hover-class button{
  visibility: hidden;
}
.edit-hover-class:hover button{
  visibility: visible;
}
.edit-hover-2 .show-on-hover{
  visibility: hidden;
}
.edit-hover-2:hover .show-on-hover{
  visibility: visible;
}

.big-icon {
  font-size: 72px;
}

img {
  border-radius:25px
}

