<mat-card class="example-card">
<mat-card-header>
  <mat-card-title>
    <h2 *ngIf="editing !='name'" (click)="clickEditName()">{{entity.name}}</h2>
    <ng-container *ngIf="editing == 'name'">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="entity.name" (keyup.enter)="clickDoneName()">
      </mat-form-field>
      <button mat-button (click)="clickDoneName()">
        <mat-icon >check</mat-icon>
      </button>
    </ng-container>

    </mat-card-title>
  <mat-card-subtitle>
    <div *ngIf="editing != 'subtitle'" (click)="clickEditSubtitle()">{{entity.subtitle}}</div>
    <div *ngIf="editing != 'subtitle' && !entity.subtitle" (click)="clickEditSubtitle()">click to add subtitle</div>
    <ng-container *ngIf="editing == 'subtitle'">
      <mat-form-field>
        <mat-label>Subtitle</mat-label>
        <input matInput [(ngModel)]="entity.subtitle" (keyup.enter)="clickDoneSubtitle()">
      </mat-form-field>
      <button mat-button (click)="clickDoneSubtitle()">
        <mat-icon >check</mat-icon>
      </button>
    </ng-container>
    </mat-card-subtitle>

</mat-card-header>
<mat-card-content>
  <mat-chip-list *ngIf="editing != 'tags'" class="example-full-width">
    <mat-chip *ngFor="let tag of generateKeys(entity.tags)" [selectable]="selectable">
      {{tag}}
    </mat-chip>
    <button mat-button (click)="editing = 'tags'">
      <mat-icon >edit</mat-icon>
    </button>
  </mat-chip-list>

  <mat-form-field  *ngIf="editing == 'tags'" class="example-full-width">
    <mat-label>Edit tags</mat-label>
    <mat-chip-list #tagList>
      <mat-chip *ngFor="let tag of generateKeys(entity.tags)" [selectable]="selectable" [removable]="chipsRemovable" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="chipsRemovable">cancel</mat-icon>
      </mat-chip>
      <input [matChipInputFor]="tagList"
            placeholder="New tag..."
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addTag($event)">
            <button mat-button (click)="editing = 'none'">
              <mat-icon >cancel</mat-icon>
            </button>
    </mat-chip-list>

  </mat-form-field>

  <p *ngIf="editing != 'description'" (click)="clickEditDesc()">Description: {{entity.description}}</p>
  <ng-container *ngIf="editing == 'description'">
    <form (ngSubmit)="clickDoneDesc()">
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea rows="4" name="description" matInput [(ngModel)]="entity.description"></textarea>
    </mat-form-field>
    <button mat-button (click)="clickDoneDesc()">
      <mat-icon >check</mat-icon>
    </button>
  </form>
  </ng-container>

  <h4 style='margin-bottom:0px'>Relationships
    <button *ngIf="editing != 'relationships'" mat-icon-button (click)="editing = 'relationships'"><mat-icon>add</mat-icon></button>
    <button *ngIf="editing == 'relationships'" mat-icon-button color="default" (click)="closeCreateRelationship()"><mat-icon>clear</mat-icon></button>
  </h4>

    <form *ngIf="editing == 'relationships'">
      {{entity.name}}
      <mat-form-field>
        <mat-label>Relationship</mat-label>
        <input  matInput [matAutocomplete]="auto2" [formControl]="relationshipCtrl">
          <button mat-button *ngIf="relationshipCtrl.value" matSuffix mat-icon-button (click)="relationshipCtrl.reset()"><mat-icon>close</mat-icon></button>
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let r of filteredRelationships | async" [value]="r">
            {{r}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <mat-form-field>
      <mat-label>Other</mat-label>
      <input  matInput [matAutocomplete]="auto" [formControl]="entityCtrl">
      <button mat-button *ngIf="entityCtrl.value" matSuffix mat-icon-button (click)="entityCtrl.reset();relationshipEntity=null"><mat-icon>close</mat-icon></button>
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let e of filteredEntities | async" [value]="e.name" (onSelectionChange)="changedRelationshipEntity($event, e)">
          {{e.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button [disabled]="!(relationshipEntity && relationshipCtrl.value)"mat-icon-button (click)="createRelationship()">
      <mat-icon >check</mat-icon>
    </button>
  </form>
  <mat-list dense>
    <mat-list-item dense *ngFor="let rel of relationshipsOut$|async">
      <app-relationship [entity]='entity'  [relationship]='rel'></app-relationship>
    </mat-list-item>
    <mat-list-item dense *ngFor="let rel of relationshipsIn$|async">
      <app-relationship [entity]='entity'  [relationship]='rel'></app-relationship>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<mat-card-actions>
    <button (click)="togglePin()" mat-icon-button><mat-icon *ngIf="entity.pin">star</mat-icon><mat-icon *ngIf="!entity.pin">star_border</mat-icon></button>
  <button (click)="deleteEntity()" mat-raised-button color='warn'>DELETE</button>
</mat-card-actions>
</mat-card>
