<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()" ><mat-icon>menu</mat-icon></button>
    <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
        {{title}}</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/campaigns">Boards</button>
        <button mat-button routerLink="/login">Login</button>
    </div>

</mat-toolbar>
